* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

html, body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}

footer {
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

.snippetbox{
    margin-top: 5%;
    text-align: center;
}

h2 {
    padding-top: 5%;
    padding-bottom: 5%;
}
